---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
	<title>Kode</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/monokai.min.css">
</head>
<body>
	<div class="vue">
		<br>
		<div class="container">
			<router-view></router-view>
		</div>
	</div>
	{% include beranda.html %}
	{% include baca.html %}
	<script type="text/javascript" src="vendor/vue.min.js"></script>
	<script type="text/javascript" src="vendor/vue-router.min.js"></script>
	<script type="text/javascript" src="vendor/highlight.min.js"></script>
	<script type="text/javascript">
		api = 'https://zen2.nasihosting.com/kode';
		new Vue({
			el: '.vue',
			router: new VueRouter({
				routes: [
					{
						path: '/',
						component: beranda
					},
					{
						path: '/:slug',
						component: baca
					}
				]
			})
		})
	</script>
</body>
</html>