<template id="baca">
	<div>
		<div class="form-group">
			<input type="text" class="form-control" readonly="" v-model='link' name="">
		</div>
		<pre><code>&lt;template id="beranda"&gt;
 &lt;div&gt;
  &lt;form&gt;
   &lt;div class="form-group"&gt;
    &lt;textarea class="form-control isi" placeholder="Masukkan kodemu"&gt;&lt;/textarea&gt;
   &lt;/div&gt;
   &lt;div class="form-group"&gt;
    &lt;input type="submit" value="Submit" class="btn btn-success" name=""&gt;
   &lt;/div&gt;
  &lt;/form&gt;
 &lt;/div&gt;
&lt;/template&gt;
&lt;script type="text/javascript"&gt;
 beranda = {
  template: '#beranda',
  mounted(){
   tinggi_isi = () =&gt; document.querySelector('.isi').style.height = window.innerHeight - 100 + 'px';
   tinggi_isi();
   window.addEventListener('resize', tinggi_isi);
  }
 }
&lt;/script&gt;</code></pre>
	</div>
</template>
<script type="text/javascript">
	baca = {
		template: '#baca',
		data(){
			return {
				link: location.href
			}
		},
		mounted(){
		  document.querySelectorAll('pre code').forEach((block) => {
		    hljs.highlightBlock(block);
		  });
		}
	}
</script>