<template id="baca">
	<div>
		<div class="form-group">
			<input type="text" class="form-control" readonly="" v-model='link' name="">
		</div>
		<pre><code v-text='kode'></code></pre>
		<p>
			<router-link :to='"/" + $route.params.slug + "/edit"' class='btn btn-warning'>Edit</router-link>
		</p>
	</div>
</template>
<script type="text/javascript">
	baca = {
		template: '#baca',
		data(){
			return {
				link: location.href,
				kode: ''
			}
		},
		mounted(){
			fetch(`${api}/kode.php/baca/${this.$route.params.slug}`).then(x => x.json()).then(data => {
				this.kode = data;
				this.$nextTick(() => {
					document.querySelectorAll('pre code').forEach((block) => {
						hljs.highlightBlock(block);
					});
				});
			});
		}
	}
</script>