<template id="beranda">
	<div>
		<form @submit.prevent='tulis()'>
			<div class="form-group">
				<textarea class="form-control isi" v-model='kode' placeholder="Masukkan kodemu"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="Submit" class="btn btn-success" name="">
			</div>
		</form>
	</div>
</template>
<script type="text/javascript">
	beranda = {
		template: '#beranda',
		data(){
			return {
				kode: ''
			}
		},
		methods: {
			tulis(){
				body = new FormData;
				body.append('kode', this.kode);
				fetch(`${api}/kode.php/tambah`, {
					method: 'post',
					body
				}).then(x => x.json()).then(data => this.$router.push(`/${data}`));
			}
		},
		mounted(){
			tinggi_isi = () => document.querySelector('.isi').style.height = window.innerHeight - 100 + 'px';
			tinggi_isi();
			window.addEventListener('resize', tinggi_isi);
			if (this.$route.params.slug){
				fetch(`${api}/kode.php/baca/${this.$route.params.slug}`).then(x => x.json()).then(data => this.kode = data);
			} else {
				this.kode = '';
			}
		}
	}
</script>